<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="The official website for the pkggen software packaging tool">
<meta name="keywords" content="madladsquad, MadLadSquad, package, packaging, desktop packaging, desktop packages, rpm, deb, pkgbuild, ebuild, linux
	fedora, red hat, debian, ubuntu, ppa, arch, gentoo, funtoo, void, arch linux, gentoo linux, void linux, package generator, package generation
	desktop package generator, desktop package generation, package tests, package testing, desktop package tests, desktop package testing,
	macos, homebrew, brew, python, autogen, doit, package deployment, desktop package deployment, aur">
<meta name="author" content="MadLadSquad">

<link rel="icon" type="image/png" href="./favicon.png">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="./main.css" type="text/css">
