<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="A drop-in replacement for your entire desktop packaging and deployment pipeline. Generate, test, and publish packages for Linux (RPM, DEB, PKGBUILD, Ebuild) and macOS (Homebrew).">
<meta name="keywords" content="madladsquad, MadLadSquad, package, packaging, desktop packaging, desktop packages, rpm, deb, pkgbuild, ebuild, linux, fedora, red hat, debian, ubuntu, ppa, arch, gentoo, funtoo, void, arch linux, gentoo linux, void linux, package generator, package generation, desktop package generator, desktop package generation, package tests, package testing, desktop package tests, desktop package testing, macos, homebrew, brew, python, autogen, doit, package deployment, desktop package deployment, aur">
<meta name="author" content="MadLadSquad">
<meta name="theme-color" content="#1d1f27">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://pkggen.madladsquad.com/">
<meta property="og:description" content="A drop-in replacement for your entire desktop packaging and deployment pipeline. Generate, test, and publish packages for Linux (RPM, DEB, PKGBUILD, Ebuild) and macOS (Homebrew).">
<meta property="og:image" content="./pkggen-logo.svg">
<meta property="og:site_name" content="pkggen">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://pkggen.madladsquad.com/">
<meta name="twitter:description" content="A drop-in replacement for your entire desktop packaging and deployment pipeline. Generate, test, and publish packages for Linux (RPM, DEB, PKGBUILD, Ebuild) and macOS (Homebrew).">
<meta name="twitter:image" content="./pkggen-logo.svg">

<link rel="icon" type="image/svg+xml" href="./favicon.svg">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="./main.css" type="text/css">
